body {
  margin: 0;
}

.app {
  background: #807f7f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  margin-top: 40px;
  background: #000000;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
}

.buttonDefault {
  margin-top: 40px;
  background: #000000;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
}
